datasets==4.8.4
einops==0.8.2
huggingface-hub==1.12.0
ipython==9.13.0
jupyter==1.1.1
matplotlib==3.10.8
numpy==1.26.4
pytest==9.0.3
safetensors==0.7.0
sentencepiece==0.2.1
tiktoken==0.12.0
torch==2.6.0
transformers==5.7.0
triton==3.7.0+git270e696d
